li {
    list-style: none;
    font-weight: bold;
}

/* li-marked {
    color: gray;
    text-decoration-line: line-through;
} */

.checked {

    color: gray;
    text-decoration: line-through;
}

span {
    margin: 10;
}

input[type="checkbox"]{

    margin-right: 10px;
}